# Ignora archivos del sistema Mac 
.DS_store

# Ignora .gitingnore
.gitingnore

# Ignora .idea directorioy archivos .iml
/.idea
*.iml

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos jar
*.jar

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache